:root {
  --main-color: rgb(129, 8, 129);
  --secondary-color: rgb(172, 13, 172);
  --input-padding: 0.3rem 1.5rem;
  --font-nomal: 1.6rem;
  --font-big: 2.5rem;
  --gap-default: 2rem;
  --default-margin: 4rem;
  --gap--big: 5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a:link,
a:active {
  text-decoration: none;
  color: white;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  box-sizing: inherit;
}

/*UTILITÁRIOS*/
.u-flex {
  display: flex;
}
.u-flex--center {
  align-items: center;
  justify-content: center;
}
.u-flex--column {
  flex-direction: column;
}
.u-flex-gap--default {
  gap: var(--gap-default);
}
.u-flex-gap--big {
  gap: var(--gap-big);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 80vh;
  padding: 5rem;
  width: 50vw;
  margin: auto auto;
}
.main-titulo {
  font-size: var(--font-big);
  font-weight: 600;
  background-color: var(--main-color);
  color: white;
  grid-column: 1/-1;
  height: 50%;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  gap: 2rem;
}

.main-item {
  background-color: rgb(233, 232, 232);
  border-color: lightgray;
  border-radius: 2rem;
  box-shadow: black 1 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
padding: 3rem;
}

.main-item:hover {
  background-color: var(--main-color);
  border-color: lightgray;
  border-radius: 2rem;
  box-shadow: black 1 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3ms;
}

.main-item a {
  font-size: var(--font-big);
  color: var(--secondary-color);
}
.main-item:hover a {
  font-size: var(--font-big);
  color: white;
  transition: all 0.3ms;
}

.ipt-text {
  border: 1px var(--main-color) solid;
  min-width: 20vw;
  padding: var(--input-padding);
  border-radius: 5px;
}

.btn {
  padding: var(--input-padding);
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  border: white 1px solid;
}
.btn:hover {
  background-color: var(--secondary-color);
}

.lbl-result {
  font-size: var(--font-big);
  color: var(--main-color);
}

header {
  height: 5vh;
  background-color: blueviolet;
}
footer {
  height: 15vh;
  background-color: blueviolet;
}

h1 {
  text-align: center;
}

.header-title {
  color: white;
}

.input-group{
  display: flex;
  width: 20vw;
}